{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

<<<<<<< HEAD
    <a href="{{ path('app_register') }}"> <button class="btn">Register</button></a>
=======

    <button class="btn" name="register">Register</button>
>>>>>>> a3622ae4b049a2465b1441dc62392d0e3fe8b59e
    {{ form_end(registrationForm) }}
{% endblock %}
